<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="speedometer"></ion-icon>
      <ion-label>Tableau</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cars" href="/tabs/cars">
      <ion-icon aria-hidden="true" name="car"></ion-icon>
      <ion-label>Véhicules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documents" href="/tabs/documents">
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
      <ion-label>Documents</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Réglages</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
